name: Super-Linter

on: push

jobs:
  test:
    steps:
      - name: 24ds3000006@ds.study.iitm.ac.in
        run: echo "Hello, world!"
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
