name: Super-Linter

on: push

jobs:
  test:
    steps:
      - name: 24ds3000006@ds.study.iitm.ac.in
        run: echo "Hello, world!"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Super-Linter
        uses: github/super-linter@v4
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
